.Fancy-Heading {
	color:goldenrod;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
}

.About-Me {
	border: 2px solid skyblue;
	padding: 10px;
	background-color: goldenrod;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	box-sizing: border-box;
}
	