body {
	background: url(https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_960_720.jpg);
	background-color: #206094;
}


.Fancy-Heading {
	color:goldenrod;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
}

.About-Me {
	border: 2px solid rgb(21, 13, 129);
	padding: 10px;
	background-color: goldenrod;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	box-sizing: border-box;
}
	

.centered-image {
	margin:auto;
	width: 30%;
	height: 30%;
	display: block;
}

.sidebar {
	width: 30%;
	float: left;
	background-color: rgb(21, 13, 129);
	box-sizing: content-box;
	font-family: 'Courier New', Courier, monospace;

}

.column {
	width: 300px;
	float: left;
}

	


